.carousel {
    width: 70%; /* Adjust the width as needed */
    margin: auto; /* This will center the carousel */
}

.carousel-item {
    text-align: center; /* Center the content of each slide */
}

.carousel-item img {
    max-width: 100%; /* Ensure images don't exceed the carousel width */
    height: auto; /* Maintain the aspect ratio of the images */
    max-height: 400px; /* Optional: Set a maximum height for the images */
  margin-top: 20px;
}
